# Asatru PHP - App environment configuration file
# 
# Scheme:
#   name=value
# Example
#   APP_NAME="My App name"
# Datatypes:
#   string, integer, float, boolean and null (auto detected)

# App settings
APP_NAME="Asatru PHP"
APP_VERSION=1.0
APP_AUTHOR="Daniel Brendel"
APP_CONTACT="dbrendel1988@gmail.com"
APP_DEBUG=true
APP_BASEDIR=""
APP_SHOWSTANDALONEDL=true
APP_STANDALONEDLVER="1.0"
APP_SCREENSHOTLIMIT=12
APP_TIMEZONE=null
APP_PARSESTEAMUSER=false
APP_ENABLEDONATION=true
APP_SHOWCASEVIDEO=""
APP_POSTSCREENS=false
APP_POSTTAGS=""
APP_CRONPW=test

# Session
SESSION_ENABLE=true
SESSION_DURATION=0
SESSION_NAME=null

# Database settings
DB_ENABLE=false
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=""
DB_PORT=3306
DB_DATABASE=asatru
DB_DRIVER=mysql
DB_CHARSET="utf8mb4"

# SMTP settings
SMTP_FROMNAME="Test"
SMTP_FROMADDRESS="test@domain.tld"
SMTP_HOST=""
SMTP_PORT=587
SMTP_USERNAME=""
SMTP_PASSWORD=""
SMTP_ENCRYPTION=tls

# Steam settings
STEAM_APIKEY=""

# Discord Bot settings
DISCORDBOT_API_ENDPOINT=""
DISCORDBOT_ACCESS_TOKEN=""
DISCORDBOT_CHANNEL=""

# Mastodon Bot settings
MASTODONBOT_SERVER_INSTANCE="https://mastodon.social"
MASTODONBOT_ACCESS_TOKEN=""

# Twitter Bot settings
TWITTERBOT_APIKEY=""
TWITTERBOT_APISECRET=""
TWITTERBOT_ACCESS_TOKEN=""
TWITTERBOT_ACCESS_TOKEN_SECRET=""

# Links to resources
LINK_STEAM="https://store.steampowered.com/app/1001860/Casual_Desktop_Game/"
LINK_ITCHIO="https://danielbrendel.itch.io/casual-desktop-game"
LINK_MASTODON="https://mastodon.social/@casual_desktop_game"
LINK_TWITTER="https://twitter.com/casualdeskgame"
