/**
    app.scss
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(30, 30, 30);
    overflow-x: hidden;
}

body {
    color: rgb(120, 120, 120);
    font-family: VT323, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}

.is-font-title {
    font-family: 'Comic Sans MS', 'Shadows Into Light Two', Verdana, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(200, 200, 200) !important;
}

.is-vertical-spacing {
    margin-top: 20px;
    margin-bottom: 20px;
}

.is-centered {
    text-align: center;
}

.is-centered-mobile {
    @media screen and (max-width: 768px) {
        text-align: center;
    }
}

.is-fixed-horizont {
    @media screen and (min-width: 769px) {
        transform: translate(-10%, -0%);
    }
}

.is-top-5 {
    position: relative;
    top: 5px;
}

.is-mobile-side-padding {
    @media screen and (max-width: 768px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.is-font-headline {
    color: rgb(150, 150, 150);
}

.paragraph {
    margin-top: 25px;
    margin-bottom: 25px;
}

.page {
    padding-top: 90px;
    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
    padding-bottom: 63px;
    padding-left: 15px;
    padding-right: 15px;
}

.page h2 {
    font-size: 1.75em;
    margin-bottom: 0.5714em;
}

.page p {
    color: rgb(120, 120, 120) !important;
}

.page a {
    color: #3273dc;
}

.page a:hover {
    color: #3273dc;
    text-decoration: underline;
}

.page ul {
    list-style: none;
}

.page ul li::before {
    content: "\25CF";
    margin-left: 20px;
    font-weight: bold;
    display: inline-block; 
    width: 20px;
    color: rgb(150, 150, 150);
}

.page strong {
    color: rgb(150, 150, 150) !important;
    font-weight: bold;
}

.page table {
    width: 100%;
}

.page tr {
    border: 1px solid #ccc;
}

.page td {
    padding: 10px;
    border: 1px solid #ccc;
}

.page h4 {
    font-size: 1.3em;
}

.page pre {
    color: rgb(250, 250, 250);
    background-color: rgb(50, 50, 50);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

pre code.hljs {
    background-color: rgb(50, 50, 50);
    color: rgb(150, 150, 150);
}

.hljs-comment {
    color: rgb(123, 125, 105) !important;
}

.hljs-string {
    color: #6e7c8c !important;
}

.code, pre {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(100, 100, 100);
    border-left: 3px solid rgb(150, 150, 150);
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
.code a {
    color: rgb(0, 120, 255);
}

.code a:hover {
    color: rgb(0, 120, 255);
    text-decoration: underline;
}

.fade {
    transition: opacity 0.65s ease-in;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

.button-long {
    padding-left: 55px;
    padding-right: 55px;
}

.link-underlined {
    text-decoration: underline;
}

.navbar {
    background-color: transparent;
    transition: .3s ease-in-out;
}

.navbar-no-transition {
    transition: unset;
}

.navbar-background-color {
    background-color: rgb(50, 50, 50) !important;
}

.navbar-menu {
    @media screen and (max-width: 1089px) {
        background-color: rgb(50, 50, 50) !important;
    }
}

.navbar-burger {
    position: absolute;
    right: 0;
    margin-left: 20px;
}

.navbar-item img {
    max-height: 2.50rem;
}

.navbar-item-brand:hover {
    background-color: rgb(50, 50, 50);
}

a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active {
    background-color: rgba(255, 255, 255, 0.0) !important;
    color: rgb(180, 180, 180) !important;
}

.navbar-item, .navbar-burger, .navbar-link {
    color: rgb(190, 190, 190);
    @media screen and (min-width: 1087px) {
        font-size: 1.1em;
    }
}

.navbar-end .navbar-item {

}

.navbar-dropdown {
    background-color: rgb(50, 50, 50);
}

.navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: rgba(0, 0, 0, 0.0);
}

@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: rgb(50, 50, 50);
    }
}

a.navbar-burger:hover {
    color: rgb(200, 200, 200);
}

.navbar-start {
    @media screen and (min-width: 1088px) {
        flex-grow: 1;
        justify-content: center;
    }
}

.header {
    position: relative;
    top: -20px;
    width: 100%;
    height: 693px;
    @media screen and (max-width: 768px) {
        height: 800px;
    }
    background-color: rgb(50, 103, 172);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image: linear-gradient(to bottom, rgba(30, 30, 30, 1.0) 90%, rgba(30, 30, 30, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(30, 30, 30, 1.0) 90%, rgba(30, 30, 30, 0) 100%);
}

.header-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.header-content {
    position: relative;
    top: 45%;
    transform: translate(-0%, -50%);
    text-align: center;
}

.header-content div:first-child {
    position: relative;
    top: 15px;
}

.header-content img {
    width: 300px;
    height: 300px;
}

.header h1 {
    position: relative;
    font-family: 'Comic Sans MS', VT323, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2em;
    color: rgb(120, 120, 120);
    background: transparent;
    text-shadow:
        -1px -1px 0 #ccc,
        0   -1px 0 #ccc,
        1px -1px 0 #000,
        1px  0   0 #000,
        1px  1px 0 #000,
        0    1px 0 #000,
        -1px  1px 0 #000,
        -1px  0   0 #000;
    top: -10px;
    margin-bottom: 50px;
}

.content {
    color: rgb(120, 120, 120);
    background-color: rgb(30, 30, 30);
    font-size: 1.2em;
    padding-top: 40px !important;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px !important;
}

.content h2 {
    color: rgb(150, 150, 150);
}

.content iframe.is-video {
    width: 415px;
    height: 300px;
    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.feature-cards {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.feature-card {
    position: relative;
    display: inline-block;
    width: 150px;
    @media screen and (max-width: 768px) {
        width: 250px;
    }
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: rgb(50, 50, 50);
    color: rgb(120, 120, 120);
    border-radius: 12px;
    border-left: 3px solid #4d4d4d;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.0em;
    text-align: center;
}

.feature-card-icon {
    padding-bottom: 5px;
}

.feature-card-info {
    padding-top: 5px;
}

.downloads {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(50, 50, 50);
    font-size: 1.2em;
    padding-top: 40px !important;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px !important;
}

.downloads h2 {
    font-size: 1.75em;
    margin-bottom: 0.5714em;
}

div.tbl-downloads {
    overflow-x: auto;
}

.tbl-downloads table {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 35px;
}

.tbl-downloads thead, .tbl-downloads thead td {
    background-color: rgb(91, 103, 115);
    color: rgb(200, 200, 200) !important;
}

.tbl-downloads tbody {
    color: rgb(195, 195, 195);
    border: 1px solid #ccc;
}

.tbl-downloads tbody strong {
    color: rgb(195, 195, 195);
}

.tbl-downloads td {
    border: 1px solid #ccc !important;
    padding: 0.5em 0.75em;
}

.tbl-downloads tbody td {
    vertical-align: middle;
}

.screenshots {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(30, 30, 30);
    font-size: 1.2em;
    padding-top: 40px !important;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 150px !important;
}

.screenshots h2 {
    font-size: 1.75em;
    margin-bottom: 0.5714em;
}

.screenshots-action {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.screenshots-action a {
    min-width: 300px;
    @media screen and (min-width: 945px) {
        left: -53px;
    }
}

.screenshot {
    position: relative;
    display: inline-block;
    width: 329px;
}

.screenshot img:hover {
    border: 1px solid rgb(50, 102, 202);
}

.backgrounds-install-instructions {
    position: relative;
    margin-top: 25px;
}

.backgrounds-content {
    position: relative;
    margin-top: 50px;
}

.background-item {
    position: relative;
    display: inline-block;
    width: 385px;
    @media screen and (max-width: 768px) {
        width: 94%;
    }
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 5px;
}

.background-preview {
    position: relative;
    width: 100%;
    height: 235px;
    @media screen and (max-width: 430px) {
        height: 200px;
    }
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.background-info {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.background-info-name {
    color: rgb(200, 200, 200);
}

.background-info-description {
    color: rgb(150, 150, 150);
}

.background-download {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.background-download a {
    width: 100%;
}

.background-download a:hover {
    text-decoration: none;
}

.background-footer {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
}

.donation {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(50, 50, 50);
    font-size: 1.2em;
    padding-top: 100px !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
}

.donation-transform {
    @media screen and (min-width: 1089px) {
        transform: translateX(-5%);
    }
}

.donation a {
    position: relative;
    top: 20px;
}

.donation h2 {
    font-size: 1.75em;
    margin-bottom: 0.5714em;
}

.news-content {
    margin-top: 40px;
}

.news-item {
    position: relative;
    width: 385px;
    min-height: 435px;
    @media screen and (max-width: 598px) {
        width: 95%;
    }
    border: 1px solid rgb(100, 100, 100);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
    background-color: rgba(50, 50, 50, 0.2);
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

.news-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.news-item-title {
    color: rgb(150, 150, 150);
    font-size: 1.5em;
    margin: 15px;
}

.news-item-content {
    color: rgb(120, 120, 120);
    margin: 15px;
}

.news-item-footer {
    position: absolute;
    width: 100%;
    margin: 15px;
    bottom: 0;
}

.news-item-footer-date {
    position: relative;
    display: inline-block;
    width: 45%;
    color: rgb(80, 80, 80);
}

.news-item-footer-link {
    position: relative;
    float: right;
    width: 55%;
}

.news-item-footer-link a:hover {
    color: #3273dc;
    text-decoration: underline;
}

.tr-colored {
    background-color: rgb(50, 50, 50);
}

.td-yes {
    color: rgb(15, 132, 15);
}

.td-no {
    color: rgb(154, 32, 32);
}

.tool-item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tool-item span {
    color: rgb(150, 150, 150);
}

.tool-item a {
    color: rgb(34, 95, 145);
}

.tool-item a:hover {
    color: rgb(34, 95, 145);
    text-decoration: underline;
}

.tool-item span {
    @media screen and (max-width: 1089px) {
        position: relative;
        top: -3px;
        font-size: 0.55em;
    }
}

.screen-item {
    position: relative;
    display: inline-block;
    width: 300px;
    max-width: 300px;
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    vertical-align: middle;
}

.screen-item img:hover {
    border: 1px solid rgb(50, 102, 202);
}

.screen-item-header {
    margin: 15px;
}

.screen-item-header-avatar {
    display: inline-block;
}

.screen-item-header-avatar img {
    border-radius: 50%;
}

.screen-item-header-name {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    top: -10px;
}

.screen-item-footer {
    margin: 15px;
}

.screen-item-footer-date {
    display: inline-block;
    color: rgb(80, 80, 80);
}

.screen-item-footer-action {
    display: inline-block;
}

.screen-item-footer-action a:hover {
    color: #3273dc;
    text-decoration: underline;
}

.scroll-to-top {
    position: fixed;
    z-index: 3;
    bottom: 15px;
    right: 12px;
}

.scroll-to-top-inner {
    background-color: rgb(100, 100, 100);
    border-radius: 50%;
    padding: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scroll-to-top-inner a {
    color: rgb(200, 200, 200);
}

.scroll-to-top-inner a:hover {
    color: rgb(230, 230, 230);
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    @media screen and (min-width: 768px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    background-color: rgb(67, 67, 67);
    color: rgb(155, 155, 155);
}

.footer-margin-bottom-10 {
    margin-bottom: 10px;
}

.footer-desktop-right {
    @media screen and (min-width: 768px) {
        text-align: right;
    }
}

.footer a {
    color: rgb(200, 200, 200);
}

.footer a:hover {
    color: rgb(200, 200, 200);
    text-decoration: underline;
}

.footer i {
    color: rgb(155, 155, 155);
}

.footer i:hover {
    color: rgb(200, 200, 200);
}

.footer span {
    margin-left: 10px;
}